<div class="container-fluid">
    <div class="row">
        <div class="col col1">
            <hr class="hr">
            <h3 class="fo"> Forgot Password — </h3>
            <p class="bo"> Reset your password with <br>your registered email.</p>
        </div>
        <div class="col col2">
            <hr class="hr">
            <h3 class="fo"> Login with Google — </h3>
            <p class="bo">Now your login is google enabled,<br> Sign in Now.</p>
        </div>
        <div class="col">
            <h1 class="Experience">Experience</h1>
            <p class="fs-2 text">Power of Coaching</p>
            <p class="copyright">© 2022 UEX Learning Technology Pvt Ltd. All rights reserved.</p>
        </div>
    </div>
</div>