<app-navbar></app-navbar>
<div class="">
    <div class="row">
        <div class="col">
            <div class="cascading-right" style="
              background: hsla(0, 0%, 100%, 0.55);
              backdrop-filter: blur(60px);
              ">
              <div class="col-8 column1">
                <p class="text-color-green fw-bold fs-1">Hello!</p>
                <p class="text-padding text-color-blue fs-2 fw-semibold">Login to Explore.</p>
                <p class="text-quote text-color-blue fs-3">Maximize your Potential with <br>the <b>Power of Coaching</b></p>
                <div class="mb-3 input-group-lg text-color-blue fw-bold">
                    <label for="exampleFormControlInput1" class="form-label fs-5 opacity">Email Address</label>
                    <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com">
                  </div>
                  <div class="mb-3 input-group-lg text-color-blue fw-bold">
                    <label for="exampleFormControlTextarea1" class="form-label fs-5 opacity">Password</label>
                    <input type="password" class="form-control Hello" id="inputPassword2 is-invalid" placeholder="Password">
                  </div>
                  <div class="col-auto" style="padding-top: 8%;">
                    <button type="submit" class="btn btn-primary mb-3">Login to Explore &nbsp; &nbsp; &nbsp;
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                    </button>
                  </div>
            </div>
            </div>
        </div>
        <div class="col-lg-6 mb-5 mb-lg-0">
            <img src="https://static-cse.canva.com/blob/572026/removingbackgroundimages_Unsplash.jpeg" class="image shadow-4"
            alt="" />
        </div>
    </div>
</div>

<app-footbar></app-footbar>